extends layout

block content
    h6 This is an example eCommerce app of a store selling smart phones, made for "Web applications" course at IDC hertzliya.
    br
    br
    div.jumbotron-fluid.row
        .col-md-3
            div.img-thumbnail
                img(src="images/shoppingcart.jpg", style="width: 200px; height: 200px;")
        .col-xl-3
            h3 Developer:
            br
            h4.profile-name Joel Zylberyng
                h2.profile-tagline
                a.button.button-twitter(href=`https://www.linkedin.com/in/joel-zylberyng-764b79165/`)
                    | Connect to me on Linkedin