extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Jobs

                br
                img.image(src='images/wearehiring.gif', style="position: absolute; top: 35%; left: 125%; margin-right: -50%; width: 320px; height: 330px;")

                br
                h2 Full Stack Developer
                p We are looking for a passionate and talented full stack developer to join our growing development team. If you think you are a good fit for this job then please
                    a(href='mailto:cellshop@gmail.com?Subject=Job%20Application%20-%20Full%20Stack%20Developer', target='_top')  email us

                br
                h2 UX/UI Designer
                p We are looking for a passionate and talented UX/UI designer to join our growing design team. If you think you are a good fit for this job then please
                    a(href='mailto:cellshop@gmail.com?Subject=Job%20Application%20-%20UX/UI%20Designer', target='_top')  email us

                br
                h2 Delivery Person
                p We are looking for a highly motivated delivery person to join our growing business. If you think you are a good fit for this job then please
                    a(href='mailto:cellshop@gmail.com?Subject=Job%20Application%20-%20Delivery%20Person', target='_top')  email us