extends layout

block content
    div(align='center', class='jumbotron')
        h1(class='display 4') Welcome to the cell shop
        p(class='lead') enjoy your shopping
        img.image(src='images/smartphones.jpg')
